.DS_Store
.idea/
.project
color.iml
.settings
.vscode
logs/
error_logs/

black/.idea/
black/target/
black/black.iml
black/logs/
black/error_logs/
black/.classpath
black/.project

auth/.idea/
auth/target/
auth/auth.iml
auth/logs/
auth/error_logs/
auth/.classpath
auth/.project

task/task.iml
task/target
task/.classpath
task/.project