<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.black.repository.mybatis.RegionXmlMapper">

	<resultMap id="RegionMap" type="com.jason.black.domain.entity.Region">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="parent_id" property="parentId" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="level" property="level" jdbcType="INTEGER"/>
		<result column="leaf" property="leaf" jdbcType="BIT"/>
	</resultMap>

	<sql id="Base_Column_List">
    id, parent_id, `name`, `level`, leaf
	</sql>

	<select id="findById" resultMap="RegionMap" parameterType="java.lang.Integer">
		SELECT <include refid="Base_Column_List"/> FROM region r WHERE r.id = #{id}
	</select>

</mapper>